
<div class="btn__container">
  <%= button_to "Изделия", "show/cakes", method: "get", class: "sweet_button" %>
  <%= button_to "Клиенты", "show/clients", method: "get", class: "sweet_button" %>
  <%= button_to "Работники", "show/employees", method: "get", class: "sweet_button" %>
  <%= button_to "Детали покупок", "show/purchase_details", method: "get", class: "sweet_button" %>
  <%= button_to "Покупки", "show/purchases", method: "get", class: "sweet_button" %>
  <%= button_to "Отзывы", "show/reviews", method: "get", class: "sweet_button" %>
  <%= button_to "Магазины", "show/shops", method: "get", class: "sweet_button" %>
</div>
